.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  cursor: pointer;
  padding: 10px 6.6667px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

.today {
  color: red; /* Default selected date color */
}

.gray {
  color: #d8d8d8;
}
